    .list{
        display: flex;
        flex-direction: column;
    }
    .list__table{
        display: grid;
        grid-template-columns: repeat(auto-fill, 364px);
        justify-content: center;
        gap: 30px 24px;
        padding-top: 80px;
        border-top: 1px solid #E8E8E8;
    }

    .list__button{
        outline: none;
        cursor: pointer;
        width: 320px;
        margin: 50px auto 80px; 
        background-color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
        padding: 9px 60px 11px;
        border: 1px solid #E8E8E8;
    }

    @media (max-width: 320px){
        .list{
            padding: 0;
        }
        .list__table{
            gap: 16px;
        }
        .list__button{
            padding: 11px 20px 9px;
            width: 240px;

        }
    }