.card{
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    margin: 0;
    width: 364px;
}

.card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__title{
    margin: 14px auto 0 14px;   
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;    
}

.card__duration{
    margin: 0 auto 14px 14px;   
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
}

.card__button{
    outline: none;
    border: none;
    background-color: white;
}

.card__saved{
    background-color: #fff;
}

.card__image{
    width: 364px;
    height: 203px;
}
