.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 0 40px;
    padding:0;
}

.promo__title{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 160px 0 141px;
    max-width: 730px;
    /* margin-top: 160px 0 141px ; */
}


@media (max-width: 768px){
    .promo{
    margin: 0 20px;
    }
    .promo__title{
      max-width: 680px;
      margin: 350px 0 314px;
      font-size: 40px;
      line-height: 52px;
  }
}
