.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 0 40px;
    padding:0;
}

.promo__title{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 160px 0 141px;
    /* margin-top: 160px 0 141px ; */
}

.promo__list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.promo__text{
    background-color: #E8E8E8;
    border-radius: 10px;
    padding: 10px 23px;
    margin: 0 0 30px 5px;
    text-align: center; 
    font-weight: 500;
    font-size: 12px;
}

@media (max-width: 768px){
    .promo{
    margin: 0 20px;
    }
}