.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}

.navigation__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__logo{
    margin-right: 44px;
}

.navigation__film{
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: #fff;
    margin-right: 16px;
    padding: 0;
    text-decoration: none;
    color: black;
}  

.navigation__account{
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    background: #F9F9F9;
    border-radius: 20px; 
    text-decoration: none;
    color: black;
}

.navigation__burger{
    display: none;
    background-color: #fff;
    border: none;
    position: relative;
    cursor: pointer;
}

@media (max-width: 768px){
    .navigation__burger{
    display: block;
    }
    
    .navigation__film{
    display: none;
    }
    
    .navigation__account{
    display: none;
    }
}
