.search__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 9px;
    margin: 69px 0 60px;
    height: 72px;
}

.search_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__button{
    background-color: #F9F9F9;
}

.search__input{
    border: none;
    outline: none;
    background-color: inherit;
    width: 786px ;
}

.search__button{
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 0;
    padding-right: 30px;
    border-right: 1px solid #E8E8E8;
}

.search__shortfilms{
    position: relative;
    display: inline-block;
    margin: 0 14px 0 30px;
    width: 36px;
    height: 20px;
}

.search__shortfilms-input{
    opacity: 0;
}

.search__shortfilms-span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2BE080;
    border-radius: 20px; 
    cursor: pointer;
}
  
.search__shortfilms-span:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  
  .search__shortfilms-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
  }

  
@media (max-width: 320px){
    .search__form{
        padding: 0;
    }
}