.search__form{
    display: grid;
    grid-template-rows: 72px;
    grid-template-columns: 80% 20% ;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 9px;
    margin: 69px 0 60px;
    max-width: 100%;
}

.search_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search_container_first{
    justify-content: space-between;
}
.search_container_second{
    justify-content: flex-start;
}

.search__button{
    background-color: #F9F9F9;
    cursor: pointer;
}

.search__input-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
}
.search__input{
    border: none;
    outline: none;
    background-color: inherit;
}

.search__button{
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 0;
    padding-right: 30px;
    border-right: 1px solid #E8E8E8;
}

.search__shortfilms{
    position: relative;
    display: inline-block;
    margin: 0 14px 0 30px;
    width: 36px;
    height: 20px;
}

.search__shortfilms-input{
    opacity: 0;
}

.search__shortfilms-span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2BE080;
    border-radius: 20px; 
    cursor: pointer;
    width: 36px;
}
  
.search__shortfilms-span:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  
  .search__shortfilms-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
  }

  
@media (max-width: 700px){
    .search__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }

    .search__button{
        padding:0;
        border: none;
    }
    .search__form{
        background-color: #fff;
    }
    .search_container_first{
        background-color: #F9F9F9;
        padding: 19px;
        border-radius: 9px;
    }

    .search_container_second{
        padding-bottom: 45px;
        border-bottom: 1px solid  #E8E8E8;;
    }
    .search__loop{
        display: none;
    }
}