.project{
    margin: 110px 70px;
}

.project__title{
    padding-bottom: 23px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid black;
}

.project__description{
    display: grid;
    grid-template-areas:
    "title1 title2"
    "text1 text2";
    grid-template-columns: 550px 550px;
    grid-template-rows: min-content min-content;
    gap: 26px 40px;
}

.project__subtitle{
    margin: 70px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.project__text{
    margin: 0 auto 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.project__text_first{
    grid-area: text1;
}

.project__text_second{
    grid-area: text2;
}

.project__subtitle_first{
    grid-area: title1;
}

.project__subtitle_second{
    grid-area: title2;
}

.project__timing{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 36px min-content;
    gap: 15px 0;
}

.project__viz{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-justify: center;
    padding: 9px 0;
}

.project__viz_first{
    background-color: #2BE080;
}

.project__viz_second{
    background-color: #F2F2F2;
}

.project__name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}


@media (max-width: 1200px){
  .project__description{
    grid-template-columns: 400px 400px;
  }
}

@media (max-width: 1000px){
  .project__description{
    grid-template-columns: 319px 319px;
    gap: 22px 30px;
  }
}

@media (max-width: 768px){
    .project{
    margin: 110px 50px;
    }
}

@media (max-width: 320px){
    .project{
        margin: 70px 18px;
    }

    .project__subtitle{
        margin: 60px 0 0;
    }

    .project__description{
        display: flex;
        flex-direction: column;
    }

    .project__title{
        padding: 0 30px 23px 0;
    }

    .project__text{
        margin: 16px auto 56px;
        font-size: 11px;
        line-height: 16px
    }

    .project__viz{
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        padding: 9px 0;
    }

    .project__name{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #A0A0A0;
        margin: 0;
    }
}
