.footer{
    margin: 0;
    padding: 79px 70px 0;
    background-color: #FAFAFA;
}

.footer__partnership{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    padding-bottom: 20px;
    border-bottom: 1px solid #A0A0A0;
}

.footer__about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__references{
    display: flex;
    flex-direction: row;
}

.footer_reference{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    margin-left: 20px;
}

.footer__year{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media (max-width: 768px){
    .footer{
      padding: 79px 30px 0;
    }
  }

@media (max-width: 320px){
    .footer{
        background-color: #fff;
        padding: 0;
        margin: 0 10px;
    }

    .footer__about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__references{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__year{
        font-size: 12px;
        line-height: 15px;
        color: #A0A0A0;
    }
}
