.techs{
    margin:0;
    background-color: #F5F5F5;
    padding-bottom: 96px;

}
.techs__title{
    padding: 100px 0 23px;
    margin: 110px 70px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid black;
}

.techs__subtitle{
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 90px 0 26px;
}

.techs__description{
    max-width: 460px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs__list{
    margin: 100px auto 0 ;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.techs__text{
    background-color: #E8E8E8;
    border-radius: 10px;
    width: 90px;
    min-height: 39px;
    margin: 0 5px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 21px;
}

@media (max-width: 768px){
  .techs{
    padding-bottom: 86px;
  }
  .techs__title{
    padding-top:  90px;
    margin: 90px 50px 0;
  }
  .techs__subtitle{
     margin: 80px 0 22px;
  }
  .techs__description {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__list{
    margin: 83px auto 0 ;
  }
   .techs__text{
    width: 84px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 320px){
    .techs__title{
        margin: 70px 18px 0;
        padding: 70px 0 23px;
    }

    .techs__subtitle{
        font-size: 30px;
        line-height: 36px;
    }

    .techs__description{
        font-size: 11px;
        line-height: 16px;
    }

    .techs__list{
        display: grid;
        grid-template-columns: 50% 50%;
        padding:0;
        gap: 10px;
        margin: 0 70px;
    }
}
