.me{
    margin: 109px 70px 84px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.me__info{
    display: grid;
    grid-template-columns: 76% 24% ;
    grid-template-areas:
    "name picture"
    "profession picture"
    "description picture"
    "github picture";
    margin-top: 66px;
}

.me__picture{
    grid-area: picture;
    width: 100%;
    margin: 0 0 auto auto;
    max-width: 270px;
}

.me__title{
    margin: 0;
    padding-bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid black;
}

.me__name{
    grid-area: name;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
}

.me__profession{
    grid-area: profession;
    margin: 18px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.me__description{
    max-width: 600px;
    margin: 26px 0 99px;
    grid-area: description;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.me__github{
    margin: 0;
    grid-area: github;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

@media(max-width: 768px){
  .me{
    margin: 90px 50px 91px;
  }

  .me__name{
    font-size: 40px;
    line-height: 40px;
  }

  .me__profession{
    font-size: 12px;
    line-height: 18px;
  }
  .me__description{
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0 87px;
  }

  .me__info{
    grid-template-columns: 54% 46% ;
  }
  .me__picture{
    max-width: 255px;
  }
}

@media (max-width: 600px){
  .me{
    margin: 70px 14px 40px;
  }

  .me__title{
    font-size: 18px;
    line-height: 22px;
  }

  .me__info{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .me__picture{
    grid-area: picture;
    width: 100%;
    margin: 0 auto 40px;
    max-width: 290px;
    }

  .me__profession{
    font-size: 11px;
    line-height: 16px;
    }

  .me__name{
    font-size: 30px;
    line-height: 36px;
  }

  .me__description{
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0 40px;
  }

  .me__github{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    }
}
